:root {
  /* Primary */
  --very-dark-magenta: #502050;
  --soft-pink: #ee68a4;
  /* Neutral */
  --dark-grayish-magenta: #937b92;
  --light-grayish-magenta: #f7f2f7;
  --white: #ffffff;
}

body {
  font-family: "Spartan", sans-serif !important;
  background-image: url("images/bg-pattern-top-desktop.svg"), url("/images/bg-pattern-bottom-desktop.svg");
  background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
  padding: 15px;
}

.container {
  margin-top: 5vw;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

#head {
  color: var(--very-dark-magenta);
  font-weight: bold;
}

#para {
  color: var(--dark-grayish-magenta);
}

/* ul {
  list-style: none;
  width: fit-content;
  padding: 15px 50px 15px 50px;
  border-radius: 5px;
  background-color: var(--light-grayish-magenta);
}
li,
#item1 {
  padding-left: 1.3em;
  list-style-type: none;
  background: url("images/icon-star.svg") no-repeat left top;
  padding: 0px 0 3px 24px;
  color: var(--very-dark-magenta);
  font-weight: bold;
}
#item2 {
  padding-left: 1.3em;
  list-style-type: none;
  background: url("images/icon-star.svg") no-repeat left top;
  padding: 0px 0 3px 24px;
  color: var(--very-dark-magenta);
  font-weight: bold;
}
#item3 {
  padding-left: 1.3em;
  list-style-type: none;
  background: url("images/icon-star.svg") no-repeat left top;
  padding: 0px 0 3px 24px;
  color: var(--very-dark-magenta);
  font-weight: bold;
} */

.reviews {
  margin-left: 15%;
}

#item-1 {
  width: 75%;
  padding: 15px 50px 15px 50px;
  border-radius: 10px;
  background-color: var(--light-grayish-magenta);
  color: var(--very-dark-magenta);
  font-weight: bold;
}

.icon {
  background: url("images/icon-star.svg") no-repeat left top;
  float: left;
  margin: 2px 5px 0 0;
  height: 20px;
  width: 20px;
  display: block;
}

#item-2 {
  width: 75%;
  margin-top: 20px;
  margin-left: 60px;
  padding: 15px 50px 15px 50px;
  border-radius: 10px;
  background-color: var(--light-grayish-magenta);
  color: var(--very-dark-magenta);
  font-weight: bold;
}

#item-3 {
  width: 75%;
  margin-top: 20px;
  margin-left: 120px;
  padding: 15px 50px 15px 50px;
  border-radius: 10px;
  background-color: var(--light-grayish-magenta);
  color: var(--very-dark-magenta);
  font-weight: bold;
}

.card{
  padding: 20px 20px 20px 20px;
  border-radius: 2% !important;
  background-color: var(--very-dark-magenta) !important;
}

.name{
  margin-top: 15px;
  margin-left:100px;
}

.card-title{
  color: var(--white);
}

.card-subtitle{
  color: var(--soft-pink);
}

.card-text{
  color: var(--white);
}

.image {
  background: url("images/image-colton.jpg") no-repeat left top;
  float: left;
  margin: 2px 5px 0 0;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: block;
}

.card-1{
  padding: 20px 20px 20px 20px;
  margin: 20px 10px 0 0px;
  border-radius: 2% !important;
  background-color: var(--very-dark-magenta) !important;
}

.image-1 {
  background: url("images/image-irene.jpg") no-repeat left top;
  float: left;
  margin: 2px 5px 0 0;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: block;
}

.card-2{
  padding: 20px 20px 20px 20px;
  margin: 40px 10px 0 0px;
  border-radius: 2% !important;
  background-color: var(--very-dark-magenta) !important;
}


.image-2 {
  background: url("images/image-anne.jpg") no-repeat left top;
  float: left;
  margin: 2px 5px 0 0;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: block;
}